  </div><!-- /page-content -->
</div><!-- /main-content -->
<script>document.write('<span style="color:gold; text-align:center;">All rights reserved. &copy; ' + new Date().getFullYear() + ' Crown Stores</span>');</script>
<script src="/js/main.js"></script>
</body>
</html>
